<!DOCTYPE html>
<html>
  <head>
    <title>CfaJobBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- Wrapping the 'yield' in a div so that the whole thing is mobile repsonsive. -->
  <div class="container">
    <div class="container-fluid">

      <%= yield %>

    </div>
  </div>


  </body>
</html>
